
            <style>
                    .cmt-contianer {
                        margin-top: 20px;
                    }
                    .cmt-avatar {
                        width: 40px;
                        height: 40px;
                        float: left;
                    }
                    .cmt-content {
                        float: left;
                        margin-left: 10px;
                    }
                    .cmt-comment-box {
                        margin-bottom: 20px;
                    }
                    .cmt-comments {
                        list-style-type: none;
                        padding: 10px;
                    }
                    .cmt-comment {
                        margin-left: 10px;
                        margin-top: 10px;
                        clear: both;
                    }
                    .cmt-name {
                        font-weight: bold;
                        float: left;
                        color: rgb(41, 198, 205);
                    }
                    .cmt-date {
                        margin-left: 7px;
                        float: left;
                    }
                    .cmt-row {
                        clear: both;
                    }
                    .cmt-reply {
                        color: #656c7a;
                        cursor: pointer;
                    }
                    .cmt-reply:hover {
                        color: #2a2e2e;
                    }
                    .cmt-comment-box textarea {
                        height: 30vh;
                        max-height: 100px;
                        width: 100%;
                    }
                    .cmt-buttons {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                    .cmt-btn {
                        border-radius: 5px;
                        margin-bottom: 10px;
                    }
                    .cmt-button-info {
                        padding: 0 10px 0 10px;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    .cmt-social-button {
                        width: 40px;
                        height: 40px;
                        margin-left: 10px;
                        background-position: center;
                        background-size: cover;
                        cursor: pointer;
                        margin-bottom: 10px;
                    }
                    
                </style>
        <div class="cmt-contianer">
            <h4>Post a comment</h4>
            <div class="cmt-comment-box">
                <form onsubmit="cmt.submitComment(event);">
                    <textarea name="text"></textarea>
                    <input type="hidden" name="position" value="<%= data.timestamp.toString() %>">
                    <div class="cmt-buttons">
                        <% if(user) { %>
                            <button type="button" class="btn btn-danger cmt-btn" onclick="cmt.logout();">Logout</button>
                        <% } else if(providers.length) { %>
                            <span class="cmt-button-info">Login with:</span>
                            <% if(providers.includes('google')) { %>
                                <div class="cmt-social-button" style="background-image:url(/assets/google_login.svg)" onclick="cmt.googleLogin();"></div>
                            <% } %>
                            <% if(providers.includes('facebook')) { %>
                                <div class="cmt-social-button" style="background-image:url(/assets/fb_login.png)" onclick="cmt.fbLogin();"></div>
                            <% } %>
                            <span class="cmt-button-info">or</span>
                        <% } %>
                        <button type="submit" class="btn btn-primary cmt-btn">Post as <%= user || 'guest' %></button>
                    </div>
                </form>
            </div>
            <ul class="cmt-comments">
                <%- getHtml({comments: data.comments, position: data.timestamp.toString()}, templates.comments) %>
            </ul>
        </div>
    